<h1>Bookmarks</h1>
<div>
  <% unless @bookmarks.any? %>
    <p>You currently don't have any bookmarks</p>
  <% else %>
    <% @bookmarks.each do |bookmark|%>
      <div>
        <p>Title: <%= bookmark.title%></p>
        <a href="/bookmarks/<%= bookmark.id%>">
          View Details
        </a>
      </div>
    <%end%>
  <%end%>
</div>
