<h1>Bookmarks</h1>
<div>
  <% unless @bookmarks.any? %>
    <p>You currently don't have any bookmarks</p>
  <% else %>
    <% @bookmarks.each do |bookmark|%>
      <div>
        <p>Title: <%= bookmark.title%></p>
        <p>Url: <%= bookmark.url%></p>
        <%if bookmark.description.present?%>
          <p>Description: <%= bookmark.description%></p>
        <%end%>
        <%if bookmark.notes.present?%>
          <p>Notes: <%= bookmark.notes%></p>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>
