<h1>Bookmarks</h1>
<div>
  <%= link_to "New Bookmark", new_bookmark_path%>
  <% unless @bookmarks.any? %>
    <p>You currently don't have any bookmarks</p>
  <% else %>
    <% @bookmarks.each do |bookmark|%>
      <div>
        <p>Title: <%= bookmark.title%></p>
        <%= link_to "View Details", bookmark_path(bookmark)%>
      </div>
    <%end%>
  <%end%>
</div>
